.row-container {
  display: flex;
  justify-content: center;
  flex: 1;
}

.field {
  height: 100px;
  width: 100px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 80px;
}

.footer-button {
  margin-top: 20px;
  background-color: transparent;
  color: white;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  outline: none;
  border: 2px solid white;
}

.hidden {
  visibility: hidden;
}
